    <div class="home-section">
      <div class="mission-statement">
        <div class="the-icons">
          <i class="icon-spin4 animate-spin"></i>
          <h3 class="mission-titles-1">Design</h3>
        </div>
        <div class="the-icons-2">
          <i class="icon-spin5 animate-spin"></i>
          <h3 class="mission-titles-2">Develop</h3>
        </div>
        <div class="the-icons-3">
          <i class="icon-spin1 animate-spin"></i>
          <h3 class="mission-titles-3">Deploy</h3>
        </div>
      </div>
    </div>
    <div class="blog" id="blog">

<%= render @articles %>

    </div>
    <div class="about-box" id="about">
      <img src="img/benji.jpg" alt="Photograph of Benji" class="profile-photo wow flipInY" data-wow-duration="2.6s" data-wow-delay="0.6s">
      <div class="opening-statement wow zoomIn" data-wow-delay=".3s">
        <h3 class="center code-text">Code Every Day</h3>
        <p>There's a certain sense of accomplishment and satisfaction that comes with crafting something.
          I've always been fascinated by the connection of science and art, the balance of technique and creative vision.  The duality in those supposedly opposite spectrums, like yin and yang, come together in a beatiful way, complimenting each other.
          In any case, at some point I began to feel an interest in the art and science of coding. How far down the rabbit hole will I go? It's a long way down...
        </p>
      </div>
      <div class="center">
        <a href="http://github.com/jaeming" class="c-links">
          <img src="img/github.png" class="code-icons">
          <p class="code-icon-text">My Github</p>
        </a>
        <a href="http://codepen.io/jaeming/" class="c-links">
          <img src="img/codepen.png" class="code-icons">
          <p class="code-icon-text">My Codepen
          <p>
        </a>
      </div>
    </div>
    <div class="contact-section" id="contact">
      <div class="margin">
        <h3 class="center">Fill in the form and I'll get back to you.</h3>
      </div>

            <form action="http://getsimpleform.com/messages?form_api_token=3f143ad87b45f800de4601222be5716f" method="post" class="form">

  <input type='hidden' name='redirect_to' value='http://benjidalton.com/thanks.html' />
          <input class="w-input field" type="text" placeholder="Your name" name="name" data-name="Name">
        <input class="w-input field" type="email" placeholder="Your email address" name="email" data-name="Email" required="required">
        <textarea class="w-input field comments" name="message" placeholder="Message"></textarea>
        <input class="w-button button" type="submit" value="Send Message" data-wait="Please wait...">
      </form>

    </div>
    <footer>
      <div class="margin">
        <p>© Benji Dalton 2014</p>
        <a href="http://twitter.com/daylightsavings"><img src="img/twitter.png" alt="" class="social-icon"></a>
        <a href="http://facebook.com/daylightsavings"><img src="img/facebook.png" alt="" class="social-icon"></a>
      </div>
    </footer>


