%main
  = render template: "home/home"
.sidebar
  = image_tag "benji.jpg", class: "sidebar_avatar"
  %h1.sidebar_title Benji Dalton
  %small.sidebar_subtitle
    Full Stack Developer
  %nav
    %ul
      %a.active{:href => "/home", :onclick => "routeTo(this)"}
        %li Home
      %a{:href => "/articles", :onclick => "routeTo(this)"}
        %li Blog
      %a{:href => "/porfolio", :onclick => "routeTo(this)"}
        %li Portfolio
      %a{:href => "/contact", :onclick => "routeTo(this)"}
        %li Contact
