.sidebar
  %h1 Benji Dalton
  %nav
    %ul
      %li
        %a{:href => "/home", :onclick => "routeTo(this)"} Home
      %li
        %a{:href => "/articles", :onclick => "routeTo(this)"} Blog
      %li
        %a{:href => "/porfolio", :onclick => "routeTo(this)"} Portfolio
      %li
        %a{:href => "/contact", :onclick => "routeTo(this)"} Contact
%main
  = render template: "home/home"
%footer
  %a{:href => "/"} Github
  %a{:href => "/"} Linkedin
  %a{:href => "/"} Codepen
