.header_full {
  color: #fff;
  margin-left: 17rem;
  background: url("http://res.cloudinary.com/webkea/image/upload/v1453927678/waterline_frvejs.jpg");
  background-size: cover;
  height: 500px;
  background-repeat: no-repeat;
  position: relative;
  top: 0;
  transition: all 450ms ease;

  @include breakpoint($tablet) {
    margin-left: 0;
    transition: all 450ms ease;
  }
}

.header_small {
  color: #fff;
  margin-left: 17rem;
  background: url("http://res.cloudinary.com/webkea/image/upload/v1453927678/waterline_frvejs.jpg");
  background-size: cover;
  height: 200px;
  background-repeat: no-repeat;
  position: relative;
  top: 0;
  transition: all 450ms ease;

  @include breakpoint($tablet) {
    margin-left: 0;
    transition: all 450ms ease;
  }
}

.header-obscured {
  @include breakpoint($tablet) {
    filter: blur(20px);
  }
}

.header-text-container {
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.header_title {
  font-family: 'Raleway', sans-serif;
  font-size: 3.2rem;
  font-weight: 300;
  color: #fff;
  margin: 0 0 1rem 0;
  padding: 0;
  @include breakpoint($mobile) {
    font-size: 2rem;
  }
}

.header_small {
  .header_title {
    @include breakpoint($mobile) {
      margin-top: 2rem;
    }
  }
}

.header_subtitle {
  font-family: 'Oxygen', sans-serif;
  margin: 0 0 3rem 0;
  @include breakpoint($mobile) {
    font-size: .9rem;
    margin: 0 .7rem 3rem .7rem;
  }
}

.header_button {
  @extend .button
}
