// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



p {
  font-family: 'Karla', sans-serif;
  font-size: 1.1rem;
  margin: 0px;
  padding: 0px;
  color: #555555;
  text-rendering: optimizeLegibility;
  min-width: 320px;
}

.top-bar-section ul li > a {
  font-family: 'Signika', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  transition: all 500ms ease;
}

.top-bar .name h1 a {
  font-family: 'Signika', sans-serif;
  font-size: 1.7rem;
  color: #fff;
}

h1 {
  font-family: 'Signika', sans-serif;
  font-weight: 600;
  font-size: 3rem;
  color: #555555;
}

h2 {
  font-family: 'Lobster', cursive;
  color: #555555;
  font-size: 2.6rem
}

h3 {
  font-family: 'Signika', sans-serif;
  color: #555555;
  font-size: 1.3rem;
  font-weight: 600;
}

h4 {
  font-family: 'Signika', sans-serif;
  font-weight: 600;
  font-size: 2rem;
  color: #555555;
  line-height: 1;
}

.tab-bar h1, .tab-bar h2, .tab-bar h3, .tab-bar h4, .tab-bar h5, .tab-bar h6  {
  font-family: 'Signika', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
}

.contain-to-grid {
  border-bottom: 7px solid #E07E7E;
}

.form-wrap {
  max-width: 1000px;
  margin: 0 auto;
}

.new-post {
  margin-left: 20px;
  margin-top: 20px;
}

.row {
  margin-top: 20px;
}

.side-badge {
  margin-top: 15px;
}

.accounts {
  text-align: center;
  width: 600px;
  padding-top: 130px;
}

.accounts a {
  display: inline-block;
}

.accounts p {
  margin-top: 10px;
}

.accounts a:hover {
  display: inline-block;
}

.accounts a img:hover {
  -webkit-animation: grow 300ms forwards;
  animation: grow 300ms forwards;
}

.account-img-links {
  width: 50px;
}

.portfolio-container h3 {
  margin-bottom: 0px;
  margin-left: 5px;
}

.portfolio {
  width: 350px;
  height: auto;
  transition: all 400ms ease;
}

.portfolio:hover {
  width: 400px;
  height: auto;
  margin-left: 0px;
}

.description {
  color: #666;
  font-size: 14px;
  // margin: 0 auto;
}

.description-container {
  max-width: 350px;
  margin-left: 5px;
  margin-bottom: 20px;
}

.archives {
  display: block;
  color: #666;
  font-size: 14px;
  margin-bottom: 0;
  margin-top: 5px;
  padding: 0;
}

.archive-post {
  display: block;
  padding: 0;
  margin: 0;
}

//////////// BADGES START
.center {
  margin: 0;
  text-align: center;

}

#widget {

  li,ul,img {
    margin: 0;
  }

  .container {
    margin-top: 15px;
    padding: 20px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
  }

  #badges {
    width: 400px;
    margin: 0 auto;
    padding-top: 25px;
  }

  .container li:nth-child(6n + 4) {
    margin-left: 55px;
  }

  li {
    position: relative;
    list-style-type: none;
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    margin-top: -20px;
  }

  li .tooltip { display: none; }
  img:hover + .tooltip {
    display: inline-block;
    z-index: 3;
    position: absolute;

    top: 100px;
    left: -25px;
    width: 150px;

    padding: 9px;
    text-align: center;
    color: #666;
    background-color: whitesmoke;
    border: solid 5px #666;
    border-radius: 12px;
      -webkit-animation: grow-capt 700ms forwards;
      animation: grow-capt 700ms forwards;
  }


}
.grow {
  width: 100px;
  opacity: .6;
  -webkit-transition: all ease;
          transition: all ease;
}
.grow:hover {
  position: relative;
  z-index: 2;
  -webkit-animation: grow 500ms forwards;
          animation: grow 500ms forwards;
}

@-webkit-keyframes grow {
  0%   { -webkit-transform: scale(1); transform: scale(1); }
  100% { -webkit-transform: scale(1.5); transform: scale(1.5); opacity: 1; }
}

@keyframes grow {
  0%   { -webkit-transform: scale(1); transform: scale(1); }
  100% { -webkit-transform: scale(1.5); transform: scale(1.5); opacity: 1; }
}

@-webkit-keyframes grow-capt {
  0%   { -webkit-transform: scale(0); transform: scale(0); }
  100% { -webkit-transform: scale(1); transform: scale(1); opacity: 1; }
}

@keyframes grow-capt {
  0%   { -webkit-transform: scale(0); transform: scale(0); }
  100% { -webkit-transform: scale(1); transform: scale(1); opacity: 1; }
}

/////codeschool
.code-badge {
  position: relative;
  display: inline-block;
  width: 115px;
  padding: 5px;
  opacity: .7;
  z-index: 1;
}
.code-badge:hover {
  animation: grow 400ms forwards;
  -webkit-animation: grow 400ms forwards;
  z-index: 11;
}
.hint { position: relative; display: inline-block; }

.hint:before, .hint:after {
  position: absolute;
  opacity: 0;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  pointer-events: none;

}

.hint:hover:after {
  opacity: 1;
  z-index: 1000;
}

.hint:after {
  top: 124px;
  left: 0px;
  content: attr(data-hint);
  text-align: center;
  background: rgba(0, 0, 0, 1);
  padding: 8px 10px;
  font-size: 12px;
  color: #666;
  background-color: whitesmoke;
  border: solid 5px #666;
  border-radius: 12px;
}
//////////// BADGES end

code {
  font-size: .6rem;
}
