.sidebar {
  text-align: center;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background: #37474F;
  width: 20rem;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.sidebar-bio {
  padding: 2rem;
  background: #263238;
}

.sidebar_title {
  color: #EAEDEF;
  font-size: 1.6rem;
  font-family: 'Oxygen', sans-serif;
  letter-spacing: 1.3px;
  margin: 1.4rem 0 0 0;
}

.sidebar_subtitle {
  color: #c0ccd1;
  font-size: .9rem;
  font-family: 'Roboto Slab', sans-serif;
}

.sidebar_avatar {
  border-radius: 50%;
  max-width: 130px;
}
